@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-background-light: #f7f7f7;
  --color-background-dark: #101014;
}

.light {
  background-color: var(--color-background-light);
}

.dark {
  background-color: var(--color-background-dark);
}

body {
  --sb-track-color: #121212;
  --sb-thumb-color: #1d1d1d;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 14px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 14px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
